<?xml version="1.0" encoding="utf-8"?>

<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 常量属性，通过单独文件properties.config加载-->
    <properties embedded="properties.dao.config,GDS.WMS.Persistence.Dao"/>
    <!-- 常量属性，通过程序集资源中 加载
    <properties embedded="database.config, IBatisNetDemo"/>-->

    <settings>
        <setting useStatementNamespaces="${useStatementNamespaces}"/>
        <setting cacheModelsEnabled="true"/>
        <setting validateSqlMap="false"/>
    </settings>

    <!-- 数据驱动提供类配置文件的路径和文件名 -->
    <providers embedded="providers.dao.config,GDS.WMS.Persistence.Dao"/>

    <!-- 设置数据库连接信息	-->
    <database>
        <provider name="${provider}"/>
        <dataSource name="WMS" connectionString="${connectionString}"/>
    </database>

    <!-- 指定项目内映射的文件的位置-->
    <sqlMaps>
        <sqlMap embedded="GDS.WMS.Persistence.Dao.Maps.WorkItem.xml,GDS.WMS.Persistence.Dao"/>
        <sqlMap embedded="GDS.WMS.Persistence.Dao.Maps.AffairItem.xml,GDS.WMS.Persistence.Dao"/>
        <sqlMap embedded="GDS.WMS.Persistence.Dao.Maps.BusinessMstr.xml,GDS.WMS.Persistence.Dao"/>
        <sqlMap embedded="GDS.WMS.Persistence.Dao.Maps.BusinessDet.xml,GDS.WMS.Persistence.Dao"/>

    </sqlMaps>

</sqlMapConfig>