<?xml version="1.0" encoding="utf-8" ?>
<autofac>
    <components>
        <!--AutoFac 配置节点-->
        <!--
    type  The only required attribute. The concrete class of the component (assembly-qualified if in an assembly other than the default.)  Any .NET type name that can be created through reflection.
    service  A service exposed by the component. For more than one service, use the nested services element.  As for type.
    instance-scope  Instance scope - see InstanceScope.  per-dependency, single-instance or per-lifetime-scope
    instance-ownership  Container's ownership over the instances - see the InstanceOwnership enumeration.  lifetime-scope or external
    name  A string name for the component.  Any non-empty string value.
    inject-properties  Enable property (setter) injection for the component.  yes, no.
    -->
        <component type="GDS.WMS.Services.Impl.WorkItemSvs, GDS.WMS.Services" service="GDS.WMS.Services.Interface.IWorkItem, GDS.WMS.Services" />
        <component type="GDS.WMS.Services.Impl.MasterSvs, GDS.WMS.Services" service="GDS.WMS.Services.Interface.IMaster, GDS.WMS.Services" />
        <component type="GDS.WMS.Services.Impl.AffairSvs, GDS.WMS.Services" service="GDS.WMS.Services.Interface.IAffair, GDS.WMS.Services" />
        <component type=" EStudio.Framework.Configuration.WebConfigApplicationSettings, EStudio.Framework" service=" EStudio.Framework.Configuration.IApplicationSettings, EStudio.Framework" />
    </components>
</autofac>
