<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>
    <!--AutoFac 配置节点-->
    <autofac configSource="config\autofac.config"></autofac>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=DRIVER\SQLSERVER2008;Initial Catalog=WMS;User ID=sa;Password=123qwe!@#"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="Domain" value="GDS" />
        <add key="HostName" value="192.168.90.90" />
        <add key="UserName" value="mfg" />
        <add key="Password" value="mfg123" />
        <add key="DownloadPath" value="d:\" />
        <add key="dbName" value="mfggds.db" />
    </appSettings>
</configuration>
